<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
			<httpHandlers>
				<add verb="POST, GET" 
						 path="toggle.net"
						type="Toggle.Net.Web.ToggleNetHandler" />
			</httpHandlers>
    </system.web>
	<appSettings>
		<add key="toggle.net.txt" value="~/toggle.net.txt"/>
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="TestHandler" verb="GET, POST"
        path="toggle.net"
        type="Toggle.Net.Web.ToggleNetHandler" />
		</handlers>
	</system.webServer>
</configuration>
